 body {
  background-color: AliceBlue;
  color: DarkSlateBlue;}
}h1 { font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; font-size: 15px; font-style: italic; font-variant: normal; font-weight: 700; line-height: 22.5px; } h3 { font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

h1 {
border:5px solid maroon;
text-align:center;}

.container {
  max-width: 1000px;
}
